{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
<section class='container mx-auto my-4'>
    <div class="card mb-3" >
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="/static/images/welcome.png" class="card-img" alt="welcome">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <div class="card-text">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form | crispy}}
                            <div class="float float-right">
                                <input class="btn btn-primary float-left" type="submit" value="Login">
                            </div>
                        </form>
                    </div>
                    <div>
                        <a href="{% url 'signup' %}" class="card-link">Don't have an account?</a>
                        <a href="#" class="card-link">Reset password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}