{% extends 'base.html' %}

{% block title %}Password email sent{% endblock %}

{% block content %}
<section class='container mx-auto my-4'>
    <div class="card mb-3 border-0" >
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="/static/images/auth-user.png" class="card-img mx-auto d-block" alt="welcome">
            </div>
            <div class="col-md-6">
                <div class="card-body pl-md-0 py-4 my-md-5">
                    <h5 class="card-title">password request sent</h5>
                    <div class="card-text py-3">
                        <p>You should reveive an email with password reset link
                        at {{ user.email }}, go a head and hit the link</p>
                        <p>
                            <span class="text-secondary">PS: </span>
                            Verify your spams if you don't see any message coming
                        </p>
                    </div>
                    <div class="card-footer mt-1">
                        <a href="{% url 'login' %}" class="card-link btn btn-secondary float-right">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}