{% extends 'base.html' %}

{% block title %}Password reset done{% endblock %}

{% block content %}
<section class='container mx-auto my-4'>
    <div class="card mb-3 border-0" >
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="/static/images/auth-user.png" class="card-img mx-auto d-block" alt="welcome">
            </div>
            <div class="col-md-6">
                <div class="card-body pl-md-0 py-4 my-md-5">
                    <h5 class="card-title">New password</h5>
                    <div class="card-text py-3">
                        <p>Your new password is set successfully successfully</p>
                    </div>
                    <div class="card-footer mt-1">
                        <a href="{% url 'login' %}" class="card-link btn btn-secondary float-right">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}