{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section class='container mx-auto my-4'>
    <div class="card mb-3 border-0" >
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="/static/images/auth-user.png" class="card-img mx-auto d-block" alt="welcome">
            </div>
            <div class="col-md-6">
                <div class="card-body pl-md-0 py-4 my-md-5">
                    <h5 class="card-title">Set new password</h5>
                    <div class="card-text py-3">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form | crispy}}
                            <div class="mt-4 float float-right">
                                <input class="btn btn-secondary" type="submit" value="Reset">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer mt-1">
                        <a href="{% url 'login' %}" class="card-link text-primary">Login</a>
                        <a href="{% url 'signup' %}" class="card-link text-primary">Signup</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}