{% autoescape on %}
{% load crispy_forms_tags %}
<div class="w-100 pl-0">
    <div class="comment-text p-3 w-100">
        <div class="d-flex w-100">
            <img src="{{ comment.author.profile.picture.url}}" alt="{{ comment.author}}"
                class="profile-img">
            <div class="w-100 pt-2 pl-2 ml-2 bg-light comment-container">
                <a href="#" class="text-dark font-weight-bold">{{ comment.author}}</a>
                <span class="my-2 d-block">
                    {{ comment.content }}
                </span>
                {% if comment.image %}
                <div class="">
                    <img src="{{ comment.image.url }}" class="card-img-top" alt="{{ comment.id }}">
                </div>
                {% endif %}
            </div>
        </div>
        <div class="mx-auto">
            <div class="border-0 d-flex justify-content-between">
                <div class="comment-reactions">
                    <div class="text-muted comment-time ml-1 pl-5">
                    {% load humanize %}
                        {{ comment.created_at|naturaltime  }}</div>
                    <div>
                        {% if current_user in comment.likes.all %}
                        <a class="text-primary"
                            href="{% url 'toggle_comment_like' pk=comment.id %}">
                            Liked
                        </a>
                        {% else %}
                        <a class="text-muted"
                            href="{% url 'toggle_comment_like' pk=comment.id %}">
                            Like
                        </a>
                        {% endif %}
                    </div>
                    <div>
                        {% if current_user in comment.dislikes.all %}
                        <a class="text-secondary"
                            href="{% url 'toggle_comment_dislike' pk=comment.id %}">
                            Disliked
                        </a>
                        {% else %}
                        <a class="text-muted"
                            href="{% url 'toggle_comment_dislike' pk=comment.id %}">
                            Dislike
                        </a>
                        {% endif %}
                    </div>
                    <div class="comment-crud">
                        {% if current_user == comment.author %}
                        <a href="{% url 'edit_comment' pk=comment.id %}" class="text-muted">Edit</a>
                        <a href="{% url 'delete_comment' pk=comment.id %}" class="text-muted">Delete</a>
                        {% endif %}
                    </div>
                    <div id="comment-stats" class="d-flex">
                        <div class="pr-3 text-primary">
                            <i class="fas fa-thumbs-up"></i>
                            <small class="">{{ comment.likes_count }}</small>
                        </div>
                        <div class="pl-3 text-secondary">
                            <i class="fas fa-thumbs-down"></i>
                            <small class="">{{ comment.dislikes_count }}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div id="new-reply-{{ comment.id }}">
                <form class="ml-4 pl-3 form-group d-flex justify-content-end align-items-baseline" action=""
                    method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ comment_form | crispy }}
                    <input type="hidden" name="parent_id" value="{{ comment.id }}">
                </form>
            </div>
        </div>
    </div>
</div>
{% endautoescape %}