{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section id="discuss-container" class="row mt-3">
    <div class="card col-sm-6 mx-auto border-0">
        <div class="card-body mx-auto px-5">
            <a href="{{ discussion.topic.title }}">
                <h5 class="card-title text-primary">{{ discussion.title }}</h5>
            </a>
            <p class="card-text">{{ discussion.content }}</p>
        </div>
        <img src="{{ discussion.main_image.url }}" class="card-img" alt="{{ discussion.id }}">
        <div class="px-5">
            <div id="stats" class="d-flex justify-content-between card-footer">
                <div class="text-primary">
                    <i class="fas fa-thumbs-up"></i>
                    <span class="">{{ discussion.likes_count }}</span>
                </div>
                <div class="text-secondary">
                    <i class="fas fa-thumbs-down"></i>
                    <span class="">{{ discussion.dislikes_count }}</span>
                </div>
                <div class="text-primary">
                    <i class="far fa-comment-alt"></i>
                    <span class="">{{ discussion.comments_count }}</span>
                </div>
            </div>
            <div class="d-flex justify-content-between card-footer">
                <div>
                    {% if current_user in discussion.likes.all %}
                    <a class="text-primary mb-3" href="{% url 'toggle_like' pk=discussion.id %}">
                        <i class="fas fa-thumbs-up"></i>
                        Liked
                    </a>
                    {% else %}
                    <a class="gray" href="{% url 'toggle_like' pk=discussion.id %}">
                        <i class="far fa-thumbs-up"></i>
                        Like
                    </a>
                    {% endif %}
                </div>
                <div>

                    {% if current_user in discussion.dislikes.all %}
                    <a class="text-secondary" href="{% url 'toggle_dislike' pk=discussion.id %}">
                        <i class="fas fa-thumbs-down"></i>
                        Disliked
                    </a>
                    {% else %}
                    <a class="gray" href="{% url 'toggle_dislike' pk=discussion.id %}">
                        <i class="far fa-thumbs-down"></i>
                        Dislike
                    </a>
                    {% endif %}
                </div>
                <div>
                    <a class="text-muted" href="{% url 'discussion_details' pk=discussion.id %}">
                        <i class="far fa-comment-alt"></i>
                        Comment
                    </a>
                </div>
            </div>
        </div>
        <div class="card border-0 col-sm-12">
            <div class="card-body">
                <div class="comment-widgets">
                    {% for comment in discussion.get_comments %}
                    <!-- Comment Section -->
                    {% include './comment.html' %}
                    <!-- Reply Section -->
                    <div class="pl-5">
                        {% for reply in comment.replies.all %}
                        {% include './reply.html' %}
                        {% endfor %}
                    <!-- end Reply Section -->
                    </div>
                    {% endfor %}
                </div>
                <div id="new-comment" class="border-top">
                    <form class="form-group d-flex justify-content-end align-items-baseline" action="" method="post"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ comment_form | crispy }}
                    </form>
                </div>
                <!-- end Comment Section -->
            </div>
        </div>
    </div>
</section>
{% endblock %}