{% extends 'base.html' %}

{% block content %}
    

    <div class="discussion">
        <a href="#">{{ discussion.topic.title }}</a>
        <p>{{ discussion.content }}</p>
        <p>By <span>{{ discussion.author.username }}</span></p>
        <div>
            {% if current_user in discussion.likes.all %}
                <a class="like" href="{% url 'toggle_like' pk=discussion.id %}">
                        liked
                </a>
                {% else %}    
                <a class="gray" href="{% url 'toggle_like' pk=discussion.id %}">
                        like
                </a>
                {% endif %}
                <span>{{ discussion.likes_count }}</span>
            {% if current_user in discussion.dislikes.all %}
                <a class="dislike" href="{% url 'toggle_dislike' pk=discussion.id %}">
                        disliked
                </a>
                {% else %}    
                <a class="gray" href="{% url 'toggle_dislike' pk=discussion.id %}">
                        dislike
                </a>
                {% endif %}
                <span>{{ discussion.dislikes_count }}</span>
        </div>
    </div>
{% endblock %}