{% extends 'base.html' %}

{% block content %}
<section class="container card-columns mt-2">
    <div class="">
        {% for discussion in discussions %}
        <div class="card">
            {% if discussion.image %}
            <img src="{{ discussion.image.url }}" class="card-img-top mx-auto" alt="{{ discussion.id }}">
            {% else %}
            <img src="/static/images/disqus.jpg" class="card-img-top mx-auto" alt="{{ discussion.id }}">
            {% endif %}
            <div class="card-body">
                <a href="{{ discussion.topic.title }}">
                    <h5 class="card-title text-primary">{{ discussion.topic.title }}</h5>
                </a>
                <p class="card-text">{{ discussion.content }}</p>
            </div>
            <div class="card-footer">
                <a class="text-secondary float-right" href="{% url 'discussion_details' pk=discussion.id %}">Discuss</a>
                    <div class="float-left">
                        {% if current_user in discussion.likes.all %}
                        <a class="like" href="{% url 'toggle_like' pk=discussion.id %}">
                            liked
                        </a>
                        {% else %}
                        <a class="gray" href="{% url 'toggle_like' pk=discussion.id %}">
                            like
                        </a>
                        {% endif %}
                        <small class="badge badge-primary">{{ discussion.likes_count }}</small>
                        {% if current_user in discussion.dislikes.all %}
                        <a class="dislike" href="{% url 'toggle_dislike' pk=discussion.id %}">
                            disliked
                        </a>
                        {% else %}
                        <a class="gray" href="{% url 'toggle_dislike' pk=discussion.id %}">
                            dislike
                        </a>
                        {% endif %}
                        <small class="badge badge-secondary">{{ discussion.dislikes_count }}</small>
                    </div>
                    <div class="float-right">
                        <div>
                            {{ discussion.author.username | capfirst }}
                            <small class="text-muted">{{ discussion.created_at |date:'m-d H:i'  }}</small>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}