{% extends 'base.html' %}

{% block content %}
<section class="main-carousel">
    
        {% for discussion in discussions %}
        <div class="carousel-cell card">
            <div class="card-title">
                <a href="{{ discussion.topic.title }}">
                    <h5 class="text-primary mb-0">{{ discussion.topic.title }}</h5>
                    <small class="text-muted">{{ discussion.created_at |date:'m-d H:i'  }}</small>
                </a>
            </div>
            <div>
                {% if discussion.image %}
                <img src="{{ discussion.image.url }}" class="mx-auto" alt="{{ discussion.id }}">
                {% else %}
                <img src="/static/images/disqus.jpg" class="mx-auto" alt="{{ discussion.id }}">
                {% endif %}
            </div>
            <div class="">
                <div class="d-flex justify-content-between">
                        <a class="text-muted" href="{% url 'discussion_details' pk=discussion.id %}">
                            <i class="inline-icon material-icons">more_horiz</i>
                            Discuss
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>
{% endblock %}