<div class="w-100">
    <div class="comment-text p-3 w-100">
        <div class="d-flex w-100">
            <img src="{{ reply.author.profile.picture.url}}" alt="{{ reply.author}}"
                class="reply-profile-img">
            <div class="w-100 pt-2 ml-2 pl-2 bg-reply comment-container">
                <a href="#" class="text-dark font-weight-bold">{{ reply.author}}</a>
                <span class="my-2 d-block">
                    {{ reply.content }}
                </span>
                {% if reply.image %}
                <div class="">
                    <img src="{{ reply.image.url }}" class="card-img-top" alt="{{ reply.id }}">
                </div>
                {% endif %}
            </div>
        </div>
        <div class="mx-auto">
            <div class="border-0 d-flex justify-items-around">
                <div class="comment-reactions">
                    <div class="text-muted comment-time pl-5">
                        {% load humanize %}
                        {{ reply.created_at|naturaltime  }}</div>
                    <div>
                        {% if current_user in reply.likes.all %}
                        <a class="like btn btn-sm"
                            href="{% url 'toggle_comment_like' pk=reply.id %}">
                            Liked
                        </a>
                        {% else %}
                        <a class="gray btn btn-sm"
                            href="{% url 'toggle_comment_like' pk=reply.id %}">
                            Like
                        </a>
                        {% endif %}
                    </div>
                    <div>
                        {% if current_user in reply.dislikes.all %}
                        <a class="dislike btn btn-sm"
                            href="{% url 'toggle_comment_dislike' pk=reply.id %}">
                            Disliked
                        </a>
                        {% else %}
                        <a class="gray btn btn-sm"
                            href="{% url 'toggle_comment_dislike' pk=reply.id %}">
                            Dislike
                        </a>
                        {% endif %}
                    </div>
                    <div class="comment-crud">
                        {% if current_user == reply.author %}
                        <a href="{% url 'edit_comment' pk=reply.id %}" class="btn btn-sm">Edit</a>
                        <a href="{% url 'delete_comment' pk=reply.id %}"
                            class="btn btn-sm">Delete</a>
                        {% endif %}
                    </div>
                    <div id="comment-stats" class="d-flex">
                        <div class="pr-3 text-primary">
                            <i class="fas fa-thumbs-up"></i>
                            <small class="">{{ reply.likes_count }}</small>
                        </div>
                        <div class="pl-3 text-secondary">
                            <i class="fas fa-thumbs-down"></i>
                            <small class="">{{ reply.dislikes_count }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>