{% extends 'base.html' %}
{% block content %}
<section id="welcome">
</section>
<div id="welcome-card" class="card float-right mt-5 pr-md-4">
    <div class="card-body ml-5">
        <h5 class="card-title h1">Lorem ipsum</h5>
        <p class="card-text my-lg-5 mb-md-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam.</p>
        <a href="{% url 'signup' %}" class="btn btn-secondary px-2">Start now</a>
    </div>
</div>
{% endblock %}