.container {
    display: flex;
}

img {
    width: 250px;
}

.discussion {
    padding: 32px;
    margin: 4px auto;
}

a {
    text-decoration: none;
}

.gray {
    color: gray;
    font-weight: normal;
}

.like {
    color: blue;
}

.dislike {
    color: rgb(255, 81, 0);
}

.bold {
    font-weight: 1.2em;
}